.collection-section {
    padding: 100px 0;
    background: #ffffff;
}

/* Layout */
.collection-wrapper {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 112px;
    align-items: stretch;
    /* KEY: make LHS equal RHS image height */
}

/* LEFT */
.collection-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10rem;
    /* stretch to match RHS */
}

.collection-left h2 {
    font-size: 40px;
    font-weight: 600;
    color: #0b3d2e;
    margin-bottom: 52px;

}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.accordion-item {
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    overflow: hidden;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 24px;
    cursor: pointer;
}

.accordion-title {
    font-size: 18px;
    font-weight: 600;
    color: #0b3d2e;
}

.accordion-icon {
    font-size: 22px;
    color: #0b3d2e;
    transition: transform 0.3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.accordion-content p {
    padding: 0 24px 22px;
    font-size: 15px;
    line-height: 1.6;
    color: #6b6b6b;
}

.accordion-item.active .accordion-content {
    max-height: 200px;
}

.accordion-item.active .accordion-icon {
    transform: rotate(180deg);
}

/* RIGHT */
.collection-right {
    height: 90%;
}

.collection-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .collection-wrapper {
        grid-template-columns: 1fr;
    }
}

/* .collection-section {
    user-select: none;
    cursor: default;
} */